@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: $normal-text-size;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #323232;
}

a {
  color: $link-text;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h5.MuiTypography-root.loc.MuiTypography-h5.MuiTypography-gutterBottom {
  font-size: 12px;
  margin: 0;
}

.MuiCardContent-root{
  color: #000000;
}

.MuiCardContent-root:hover{
  background-color: #9D4EDD;
  color: #ffffff;
}