$success: #40b475;
$warning: #f0b739;

$link-text: #576f96;

$main-text: #303133;
$normal-text: #606266;
$sub-text: #909399;
$placeholder: #c0c4cc;

$large-text-size: 18px;
$main-text-size: 16px;
$normal-text-size: 14px;
$small-text-size: 12px;
